.navContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(38, 70, 83);
}

a{
    text-decoration: none;
}

.navLogo{
    height: 50px;
}

.navMenu{
    list-style: none;
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
}

.navMenu li{
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    border: solid black 2px;
    border-radius: 30px;
}

.active{
    color: rgb(231, 111, 81);
}

.notActive{
    color: rgb(42, 157, 143);
}