.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 70, 83);
}

a {
    text-decoration: none;
}

.navbarLogo {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}

.navTitle,
.navTitle:hover {
    margin: 1rem;
    text-align: center;
    font-size: 3rem;
    text-decoration: none;
    color: rgb(233, 196, 106);
    font-family: 'Raleway', sans-serif,;
    font-weight: 600;
}

.navLogo {
    height: 5rem;
}

@media (min-width: 1200px) {
    .navMenu {
        margin-left: 40rem;
    }
}

.navMenu {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(244, 162, 97);
}