.buttonContainer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.counterButton{
    font-size: 20px;
    background-color: transparent;
    background-color: rgb(38, 70, 83);
    color: white;
    border: transparent;
}
    .counterButton:hover{
        transform: scale(1.5);
        transition: 0.5s;
        cursor: pointer;
    }

.counter{
    font-size: 25px;
    padding: 20px;
}

.addToCart{
    margin: 5px;
    background-color: transparent;
    color: white;
    background-color: rgb(38, 70, 83);
    border: transparent;
}
    .addToCart:hover{
        transform: scale(1.5);
        transition: 0.5s;
        cursor: pointer;
    }